* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.App {
  height: 100vh;
  background-color: #c04a82;
  
  
}

/*Navbar*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.navbar img {
  width: 4rem;
}

.navbarLogo{
display: flex;
justify-content: center;
align-items: center;
gap: .9rem;
color:#fdd36a;
letter-spacing: 0.1rem;


}

.links {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-right: 50px;
}

.links a {
  color: bisque;
  text-decoration: none;
  font-size: 1.3rem;
}

/*Register*/

.register {
 margin: auto;
  margin-top: 8rem;
  width: 600px;
 
}
.register h1{
  text-align: center;
  color: #fdd36a;
  margin-bottom: 2rem;
}

.form-input {
  width: 100%;
  padding: 7px 2px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

input {
  padding: 7px 8px;
  outline: none;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  margin: 7px 0px;
  border-color: #be6db7;
  color: #dc8449;
  font-weight: 600;
}

input:focus {
  border-color: #fdd36a;
}

button {
  color: #c04a82;
  letter-spacing: 0.1rem;
  font-weight: 800;
  background-color: #fdd36a;
  display: inline-block;
  width: 8rem;
  margin: 2rem 15rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.error{
  color: bisque;
  font-size:12px
}

.input-error{
  background-color:rgb(211, 193, 191)
}


.regBtn{
  display: inline-block;
text-decoration: none;
background-color: #f2b314;
padding: .5rem 0.4rem;
border-radius: 20px;
margin-left: 25rem;
color:#ec12da;
font-weight: 600; 
  
}

.home{
 
  width: 55%;
  margin:5rem auto;
  text-align: center;
  color:  #f2b314;
  font-size: 1.3rem;
}

.home h1{
  margin-bottom: 1rem;
}
.home p{
  text-align:justify;
  margin-top: 0.7rem;
  color:  bisque;
  line-height: 1.7rem;
}


/*Product*/
.product{
display: flex;
flex-direction: column;

}


.coffeePicture{

  width: 10%;
  height: 10%;
  border-radius: 20px;
}